profiles
{   
    standard {
        process.executor = 'local'
        process.conda = "${HOME}/miniconda3/envs/viroprofiler"
    }

    // Run pipeline on SLURM cluster
    hpc_slurm {
        process.executor = 'slurm'
        process.cpus = 2
        process.memory = '10 GB'
        process.queue = 'normal_q'
        process.conda = "${HOME}/miniconda3/envs/viroprofiler"
        process.time = "24 h"
    }
}

trace
{   
    enabled = true
    fields = 'task_id,hash,tag,process,status,exit,submit,realtime,%cpu,%mem,peak_rss,peak_vmem'
}

timeline
{
    enabled = true
}


process {
    cache = "lenient"
    
    withLabel: "small" {
        cpus = 2
        memory = "8 GB"
    }

    withLabel: "medium" {
        cpus = 6
        memory = "40 GB"
    }

    withLabel: "big" {
        cpus = 12
        memory = "80 GB"
        time = "24 h"
    }

    withName: "FASTQC" {
        conda = "${HOME}/miniconda3/envs/fastqc"
        cpus = 2
        memory = "12 GB"
        time = "10 h"
    }

    withName: "CLEAN_READS" {
        cpus = 4
        memory = "100 GB"
        time = "48 h"
    }

    withName: "ASSEMBLY_SPADES" {
        conda = "${HOME}/miniconda3/envs/spades"
        cpus = 10
        memory = "75 GB"
        time = "48 h"
    }

    withName: "RAGTAG" {
        conda = "${HOME}/miniconda3/envs/tpd"
        cpus = 2
        memory = "12 GB"
        time = "4 h"
    }

    withName: "DFAST" {
        conda = "${HOME}/miniconda3/envs/tpd"
        cpus = 4
        memory = "40 GB"
        time = "12 h"
    }

    withName: "PROKKA" {
        cpus = 4
        memory = "40 GB"
        time = "1 h"
    }

    withName: "ANNO_ARG" {
        conda = "${HOME}/miniconda3/envs/tpd"
        cpus = 2
        memory = "20 GB"
        time = "12 h"
    }

    withName: "lifestyle" {
        conda = "${HOME}/miniconda3/envs/bacphlip"
        cpus = 2
        memory = "10 GB"
        time = "1 h"
    }
}

params 
{    
    /*--------------------------------*
     *      GENERAL PARAMETERS
     *--------------------------------*/
    outdir = "result"
    report = "report"
    mode = 'all'         // {all, genome}
    contig_minlen = 1000
    normalize = 'false'
    with_ref = 'true'
    ref = "${baseDir}/refs/CP000521.1.gbk"

    // fastp
    leftcutR1 = 15
    leftcutR2 = 15
    rightcutR1 = 3
    rightcutR2 = 3

    // decontam
    // decontam_ref = "${HOME}/data2/db/bbmap/mouse/bbmap"
    // decontam_ref = "${HOME}/data2/db/bbmap/hg19/bbmap"
    decontam = "false"

    norm_max = 100
    norm_min = 2

    // kraken2 databases
    kraken_viral = "${HOME}/data2/db/kraken/kraken2/viral"
    kraken_imgvr = "${HOME}/data2/db/kraken/kraken2/imgvr"
    kraken_std = "${HOME}/data2/db/kraken/kraken2/kdb_std"

    // assembler
    assembler = "spades"
    megahit_mem = 0.3
    spades_mem = 70
    mira_manifest = "${baseDir}/resources/mira_manifest.txt"

    // Manually selected contigs
    // contigs = "${baseDir}/contigs/*.fna"
    contigs = "false"

    // contig filter
    min_contig_length = 2000
    min_coverage = 3

    // checkv
    checkv_db = "${HOME}/data2/db/checkv/checkv-db-v0.6"
    provirus = "true"

    // sid_scaffolds.fna without sample id in FASTA header
    datadir = "${baseDir}/data"
    ext = ".fna"
    // predictor = "MetaGeneAnnotator"
    predictor = "prodigal"

    // Tools and databases
    db_VOGDB="${HOME}/data2/db/VOGDB/current/VOGs.hmm"
    desc_VOGDB="${HOME}/data2/db/VOGDB/current/vog_desc.tsv"

    db_PFAM="${HOME}/data2/db/PFAM/current/Pfam-A.hmm"
    desc_PFAM="${HOME}/data2/db/PFAM/current/pfam_desc.tsv"

    db_pVOG="${HOME}/data2/db/pVOG/current/pVOGs.hmm"
    desc_pVOG="${HOME}/data2/db/pVOG/current/pvog_desc.tsv"

    db_KEGG="${HOME}/data2/db/vibrant2/databases/KEGG_profiles_prokaryotes.HMM"
    desc_KEGG="${HOME}/data2/db/KEGG/ko2pathway.tsv"
}
